<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>362133696016-aprk835jbclrus2jj2sg5l6go8nkq5qh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.362133696016-aprk835jbclrus2jj2sg5l6go8nkq5qh</string>
	<key>API_KEY</key>
	<string>AIzaSyDp1X1oafurX5jpe0uFlKeKrl-3eEHntVg</string>
	<key>GCM_SENDER_ID</key>
	<string>362133696016</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.finalProject</string>
	<key>PROJECT_ID</key>
	<string>rakan-firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>rakan-firebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:362133696016:ios:45aa8bbaff69be25652495</string>
	<key>DATABASE_URL</key>
	<string>https://rakan-firebase-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>